[package]
name = "del-geo"
version = "0.1.20"
edition = "2021"
authors = ["Nobuyuki Umetani <n.umetani@gmail.com>"]
description = "2D/3D geometry utility codes"
documentation = "https://docs.rs/del_geo"
license = "MIT"
repository = "https://github.com/nobuyuki83/del-geo"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-traits = "0.2.18"
nalgebra = "0.32.4"
rand = "0.8.5"

